# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/internal/AIProg_Zero2Hero/.vs
/internal/AIProg_Zero2Hero/AIProg_Zero2Hero/x64
/internal/AIProg_Zero2Hero/x64
*.user
*.pdb
*.manifest
